<div class="container">    
  <div class="row">    
    <div class="col-md-8 mt-5 form-group">    
      <input type="file" #file class="form-control" (change)="uploadedFile($event)" placeholder="Upload file" accept=".xlsx">    
    </div>    
  </div>    
  <div class="row">    
    <div class="col-md-6 form-group">    
      <button type="button" class="btn btn-primary" [disabled]="!file.value" (click)="readAsCSV()">Read as CSV</button>    
    </div>    
    <div class="col-md-6 form-group">    
      <button type="button" class="btn btn-primary" [disabled]="!file.value" (click)="readAsJson()">Read as Json</button>    
    </div>    
    <div class="col-md-6 form-group">    
      <button type="button" class="btn btn-primary" [disabled]="!file.value" (click)="readAsHTML()">Read as Html</button>    
    </div>    
    <div class="col-md-6 form-group">    
      <button type="button" class="btn btn-primary" [disabled]="!file.value" (click)="readAsText()">Read as Text</button>    
    </div>    
  </div>    
</div> 